#test(style="background:#fff")
  =I18n.t 'language_name', :locale => :es
  =I18n.t 'specification', :locale => :es
  =I18n.t 'objective', :locale => :es
  =I18n.t 'summary', :locale => :es
  =I18n.t 'categories', :locale => :es

#test2(style="background:#fff")
  =I18n.t 'language_name', :locale => :cs
  =I18n.t 'specification', :locale => :cs
  =I18n.t 'objective', :locale => :cs
  =I18n.t 'summary', :locale => :cs
  =I18n.t 'categories', :locale => :cs
