.highlight.open
  .collapse
    .wrapper
      .container
        .row
          .span2
            .side-data
              =image_tag 'orange-ticho-logo.png'
          .span7
            %h2 Programas y proyectos
            :markdown
              En este sector se hace referencia a un conjunto de actividades concretas de Guillermo Lema, interrelacionadas y coordinadas entre sí, que realiza con el fin de concretar la producción de “obras”, en su sentido productivo más amplio. La diferencia entre “programa” y “proyecto” reside en la magnitud: un programa abarca varios proyectos.

              Un rasgo fundamental es el carácter evolutivo de ambos: programas y proyectos se generan con el devenir del la idea que les da origen. La “obra” recién se devela una vez que culmina, sea una etapa, sea el arribo al punto final.
  .handler
    %a(href="#")

#stars-container.container
  .scrollblock
    #white-stars
    #grey-stars    
    = render :partial => 'shared/book_list',:locals => { :books => @books}
