.highlight.open
  .collapse
    .wrapper
      .container
        .row
          .span2
            .side-data
              =image_tag 'orange-ticho-logo.png'
          .span7
            %h2 Ticho Ediciones
            :markdown
              __Ticho__ en checo significa silencio. 
              "Ticho ediciones" no es el silencio ni de la música, ni de la física, ni de la ausencia de palabras. 
              Lugar posible y posibilidad de lugar. 
              Aquí encontrará textos completos o fragmentos, partituras, obras visuales, mixtas. 
              La descarga de los archivos de este sector es gratuita, aunque sus autores esperan ser respetados como tales, así como que no se desvirtúe la gratuidad a la que se ofrecieron. 
              La palabra __ticho__ seguramente será pronunciada de modo diferente al de su sonido original checo. 
              Que esa distorsión sea escuchada, es uno de los motivos por el cual el sector existe.
  .handler
    %a(href="#")

#stars-container.container
  .scrollblock
    #white-stars
    #grey-stars    
    = render :partial => 'shared/book_list',:locals => { :books => @books}
