.highlight.open
  .wrapper.collapse
    .container
      .row
        .span7.offset2
          %h2 En orden cronológico
          %p
            we have made serious efforts to trace the copyright owners of all text and other copyright material included on this website but have been unable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of copyright ownership or, if that owner prefers, to remove the item from the websiteable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of copyrigable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of cop
  .handler
    %a(href="#")
.container
  %article
    .row
      .span2
        %time(datetime="2012-03-14") 2012-mar-14
      .span5
        %h2
          %a(href="#") "Es decir callar" Presentación en budapest
        %p 
          En el marco del ciclo de música contemporánea “Pierre Boulez”, en Budapest, el director Juan lópez dirigío la obra Varverde-Lema en el teatro San Martín de Budapest.we arwe are willing to acknowledge any rightful copyright owner on proof of e willing to acknowledge any rightful copyright owner on proof of         
      .span2
    .row
      .span5.offset2
        .collapsible.photos.open
          %h4 Fotos
          .collapse
            %ul
              - 10.times do
                %li
                  %a(href="#")
                    %img(src="http://placehold.it/100x100")
        .collapsible.open
          %h4 Video
          .collapse
            =image_tag 'video.png'
        .collapsible
          %h4 Audio
          .collapse
            audio
        .collapsible.pdf.open
          %h4 Pdf
          .collapse
            %ul
              %li
                %a(href="#") 
                  %span LA VOZ DE LA SOMBRA . GUILLERMO LEMA Fragmento
              %li
                %a(href="#") 
                  %span LA VOZ DE LA SOMBRA . GUILLERMO LEMA Fragmento
            
      .span2
        .collapsible.links.open
          %h4 links relacionados
          .collapse
            %ul
              %li
                %a(href="#") wwww.budapest.com
                %p En el marco del ciclo de música contemporánea “Pierre Boulez”
              %li
                %a(href="#") wwww.budapest.com
                %p En el marco del ciclo de música contemporánea “Pierre Boulez”

  %article
    .row
      .span2
        %time(datetime="2012-03-14") 2012-mar-14
      .span5
        %h2
          %a(href="#") "Es decir callar" Presentación en budapest
        %p loren ipsum dolor sit amet
      .span2
    .row
      .span5.offset2
        .collapsible.photos
          %h4 Fotos
          .collapse
            %ul
              - 10.times do
                %li
                  %a(href="#")
                    %img(src="http://placehold.it/100x100")
        .collapsible
          %h4 Video
          .collapse
            videito
        .collapsible
          %h4 Audio
        .collapsible
          %h4 Pdf
          .collapse
            testing
      .span2
        .collapsible.links
          %h4 links relacionados
          .collapse
            links

  %article
    .row
      .span2
        %time(datetime="2012-03-14") 2012-mar-14
      .span5
        %h2
          %a(href="#") Presentación de "variaciones sobre un crímen perfecto"
        %p "Es decir callar" Presentación en budapest loren ipsum dolor sit amet
      .span2
    .row
      .span5.offset2
        .collapsible
          %h4 Fotos
        .collapsible
          %h4 Pdf
      .span2


.pagination
  .container
    .row
      .span2.left
        %a.prev(href="#") entradas recientes
      .span5.center
        %span.active 1
        %a(href="#") 2
        %a(href="#") 3
        %a(href="#") 4
        %a(href="#") 5
        %span.gap ...
        %a(href="#") 30
      .span2.right
        %a.next(href="#") entradas antiguas
            
