%p#console


#space
  .container
    .scrollblock
      =image_tag 'home/space/s1.png', :id => 'space-s1'
      =image_tag 'home/space/o1-s.png', :id => 'space-o1-s'
      =image_tag 'home/space/o1.png', :id => 'space-o1'
      =image_tag 'home/space/o2-s.png', :id => 'space-o2-s'
      =image_tag 'home/space/o2.png', :id => 'space-o2'
      =image_tag 'home/space/o3-s.png', :id => 'space-o3-s'
      =image_tag 'home/space/o3.png', :id => 'space-o3'
      =image_tag 'home/space/t1-s.png', :id => 'space-t1-s'
      =image_tag 'home/space/t1.png', :id => 'space-t1'
      =image_tag 'home/space/t2-s.png', :id => 'space-t2-s'
      #space-tb1
        %h3 Obertura,
        %h4.l1 ir hacia lo abierto que ya comenzó
        %h4 porque por aquí se ingresa a un sitio
        %h4 que carece de forma
      #space-tb2
        %p a una infinitud de puntos fijos que se le desliza el pasado con nuestro movimiento presente
      #space-tb3
        %h3 El arte precede la forma
        %p no la necesita


#eye
  .container
    .scrollblock
      #eye-tb1
        %h3
          La forma es la geometría 
          por la que trepamos los monos-sapiens
        %h4 y uno de ellos dice:
        %h5 aquí tampoco hay tiempo.
        %h4 Insiste:
        %h5 viajamos en el tiempo en cualquier dirección-mente.

