.highlight
  .container
    .row
      .span7.offset2
        %h2 En orden cronológico
        %p
          we have made serious efforts to trace the copyright owners of all text and other copyright material included on this website but have been unable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of copyright ownership or, if that owner prefers, to remove the item from the websiteable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of copyrigable to do so in some cases. we are willing to acknowledge any rightful copyright owner on proof of cop

.container
  .row.show-grid
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1
    .span1 1

.container
  %article.row.show-grid
    .span1 1

.pagination.show-grid
  .container
    .row
      .span2
        %a.prev(href="#") entradas recientes
      .span5  1-2-3-4-5
      .span2
        %a.next(href="#") entradas antiguas
      
