#space
  .container
    .scrollblock
      - %w(s1 t1-s t1 t2-s o1-s o1 o2-s o2 o3-s o3).each do |i|
        .space-object{:id => "space-#{i}"}        
        
      #space-tb1
        %h3 Obertura
        %h4.l1 ir hacia lo abierto que ya comenzó
        %h4 porque por aquí se ingresa a un sitio
        %h4 que carece de forma
      #space-tb2
        %p …una infinitud de puntos fijos<br/>con su pasado en fuga hacia<br/>nuestro movimiento presente
      #space-tb3
        %h3 El arte precede la forma
        %p no la necesita


#eye
  .container
    .scrollblock
      #eye-eye
      #eye-tb1
        %h3 La forma es la geometría <br/>por la que trepamos los <br/>monos-sapiens
        %h4 y uno de ellos dice:
        %h5 aquí tampoco hay tiempo.
        %h4.middle Insiste:
        %h5.last viajamos en el tiempo en <br/>cualquier dirección-mente.
        %h4.last y manifiesta:



#pre-building
  .container
    .scrollblock
      #pre-building-tb1
        %h3 El arte carece de tiempo <br/>y de temporalidad.
      #pre-building-tb2
        %h3 En realidad es un temporal
        %h5 Tempestad que destruye relojes <br/>y así sobreviven los pensamientos


#building
  .container
    .scrollblock
      #building-b1
      #building-b2
      #building-b3
      #building-b4
      #building-b5
      #building-b6
      #building-b7
      =image_tag 'home/building/star.png', :id => 'building-star'
      #building-tb1
        %h3 No ser virtual
        %h4 pero sí digital-derrotado
      #building-tb2
        %h4 para ser un dígito mayor <br/>vencedor-y-vencido


#art
  .container
    .scrollblock
      #art-tb1
        %h3 El arte
        %p 
          se ocupa <br/>
          de reconstruir<br/>
          la realidad<br/>
          que el mundo virtual<br/>
          asesinó.

#balls
  #balls-saw
  .container
    .scrollblock
      #balls-tb1
        %p 
          El universo es, de este modo, <br/>
          un caos perdido<br/>
          un eslabón recuperado
        %h5 GUILLERMO LEMA
      - %w(1-big-red 2-big-green 3-big-blue 4-medium-blue_red 5-small-orange_yellow_green).each do |i|
        .ball{:id => "ball-#{i}"}        




        
