%p#console


#space
  .container
    .scrollblock
      =image_tag 'home/space/s1.png', :id => 'space-s1'
      =image_tag 'home/space/o1-s.png', :id => 'space-o1-s'
      =image_tag 'home/space/o1.png', :id => 'space-o1'
      =image_tag 'home/space/o2-s.png', :id => 'space-o2-s'
      =image_tag 'home/space/o2.png', :id => 'space-o2'
      =image_tag 'home/space/o3-s.png', :id => 'space-o3-s'
      =image_tag 'home/space/o3.png', :id => 'space-o3'
      =image_tag 'home/space/t1-s.png', :id => 'space-t1-s'
      =image_tag 'home/space/t1.png', :id => 'space-t1'
      =image_tag 'home/space/t2-s.png', :id => 'space-t2-s'
      #space-tb1
        %h3 Obertura,
        %h4.l1 ir hacia lo abierto que ya comenzó
        %h4 porque por aquí se ingresa a un sitio
        %h4 que carece de forma
      #space-tb2
        %p a una infinitud de puntos fijos<br/> que se le desliza el pasado con<br/> nuestro movimiento presente
      #space-tb3
        %h3 El arte precede la forma
        %p no la necesita


#eye
  .container
    .scrollblock
      =image_tag 'home/eye/eye.gif', :id => 'eye-eye'
      #eye-tb1
        %h3 La forma es la geometría <br/>por la que trepamos los <br/>monos-sapiens
        %h4 y uno de ellos dice:
        %h5 aquí tampoco hay tiempo.
        %h4.last Insiste:
        %h5.last viajamos en el tiempo en <br/>cualquier dirección-mente.

#pre-building
  .container
    .scrollblock
      #pre-building-tb1
        %h3 El arte carece de tiempo <br/>y de temporalidad.
      #pre-building-tb2
        %h3 En realidad es un temporal
        %h5 Tempestad que destruye los relojes <br/>y así sobreviven los pensamientos


#building
  .container
    .scrollblock
      #building-b1
      #building-b2
      #building-b3
      #building-b4
      #building-b5
      #building-b6
      #building-b7
      =image_tag 'home/building/star.png', :id => 'building-star'
      #building-tb1
        %h3 No ser virtual
        %h4 pero sí digital-derrotado
      #building-tb2
        %h4 para ser un dígito mayor <br/>vencedor-y-vencido


#art
  .container
    .scrollblock


