.container
  %ul.book-list
    %li.collapsible.books.opens
      %h4 La voz de la sombra
      .collapse
        %ul
          - 10.times do
            %li
              %a(href="#")
                %img(src="http://placehold.it/100x100")
    %li.collapsible.books
      %h4 [El Protector]
      .collapse
        =image_tag 'video.png'
    %li.collapsible.books
      %h4 la música utópica
    %li.collapsible.books
      %h4 la música utópica
        
