.highlight.open
  .wrapper.collapse
    .container
      .row
        .span7.offset2
          %h2 En orden cronológico
          %p
            Sector en que se lleva la cuenta, razón y sinrazón, o en el que se escriben algunas noticias, o instrucciones de obras de todo tipo, terminadas o inconclusas. Puerta abierta al atelier de un artista. Es el lugar donde lo múltiple no se dispersa, sino que se integra en un punto preciso, el de la idea en movimiento. Espacio lúdico, patio abierto al sol, a la lluvia, al frío, a lo ilimitado: necesidad de salir a lo abierto sin importar ese techo falso que se hace llamar cielo. Aquí se los invita a percibir el error y lo impúdico, a descubrir esa obra que quedaría tirada en un rincón de no ser gracias a usted, sí, a Usted que sabe encontrar en ella el valor que el autor no está en condiciones de apreciar. Es un lugar desnudo, es decir, que tiene todo lo que necesita tener, ni más ni menos que el fruto de las secreciones límpidas por naturalmente humanas.          
  .handler
    %a(href="#")
.container
  -@posts.each_with_index do |p, i|
    = render :partial => 'shared/post',:locals => { :post => p, :open => (i==0)} 

= paginate @posts
