@import "themize"
$dark_blue: #0000ff
    

body.home
  +themize_layout($dark_blue,home,'dark_blue', $dark_blue)
  #content
    margin-top: 90px    

.scrollblock
  position: relative
  width: 100%

#console
  position: fixed
  left: 15px
  width: 500px
  font-size: 14px
  font-style: italic
  background-color: #69697A
  text-align: left
  padding: 3px 10px
  border-radius: 0 0 10px 10px
  z-index: 9999
  opacity: .8


#space
  background: #000 url('home/space/bg.png') center center
  overflow: hidden
  .scrollblock
    height: 1929px
    img
      position: absolute


#space-s1
  top: 902px
  left: -155px

#space-o1, #space-o1-s
  left: 30px
  top: 604px

#space-o2, #space-o2-s
  right: 42px
  top: 394px  

#space-o3, #space-o3-s
  left: 215px
  top: 571px

#space-t1, #space-t1-s
  right: 334px
  top: 121px

#space-t2-s
  right: -78px
  top: 1313px


#space-tb1,#space-tb2,#space-tb3
  position: absolute
  font-family: BuenardRegular

#space-tb1
  left: 112px
  top: 299px
  h3
    border-bottom: 4px solid #fff
    color: #fff
    width: 537px
    line-height: 45px
    margin: 0
    font-size: 29px
    text-transform: uppercase
    letter-spacing: 4px
  h4
    color: #fff
    margin-top: 20px
    font-size: 30px    
    margin-left: 110px
    &.l1
      margin-top: 25px
      margin-left: 193px

#space-tb2
  right: 76px
  top: 703px
  width: 288px
  border: 1px solid #fff
  background: #000
  p
    color: #fff
    line-height: 17px
    margin: 26px 33px
    font-size: 15px
    letter-spacing: -1px
    text-align: justify

#space-tb3
  left: 222px
  top: 1342px
  h3
    color: #fff
    line-height: 45px
    margin: 0
    font-size: 52px
    letter-spacing: 2px
  p
    color: #fff
    margin-top: 64px
    font-size: 23px
    margin-left: 331px
    font-family: BuenardRegular


#eye
  background: #000
  overflow: hidden
  .scrollblock
    height: 1320px
    img
      position: absolute

#eye-eye
  left: 211px
  top: 325px
    
#eye-tb1
  color: #fff
  position: absolute
  left: 224px
  top: 473px
  width: 560px
  h3
    font-size: 55px
    font-family: BuenardRegular
    line-height: 70px
  h4
    margin-top: 60px
    font-size: 23px
    font-family: BuenardRegular
    line-height: 23px
    &.last
      margin-top: 39px
  h5
    font-size: 36px
    font-family: LektonItalic
    line-height: 48px
    letter-spacing: 1px
    margin-top: 51px
    &.last
      margin-top: 38px


