@import "themize"
$green: #0f0

body.trayectoria
  +themize_layout($green,trayectoria,green, $green)
  +themize($green,trayectoria,green)

  .heading
    margin-top: 3px
    background: #fff
    h2  
      color: #777
      height: 85px
      line-height: 85px
      font-family: LektonRegular
      font-size: 40px
      letter-spacing: 1px
      text-transform: uppercase


  .highlight
    .wrapper
      background: #000
      h2, a, p
        color: #B3B3B3
    //todo: fix this strange behaviour... do it through js with animations---
    .wrapper
      min-height: 85px
      .container
        margin-bottom: 3px
      *
        visibility: hidden 
      h2
        visibility: visible
        margin-top: 30px
    &.open
      .wrapper
        *
          visibility: visible
        h2
          margin-top: 0      

  #years_carousel
    padding: 0 80px
    a
      cursor: pointer
      background: none
      color: #4D4D4D
      &.current
        color: $green
    .carousel-control
      top: -15px
      left: 15px
      width: 40px
      height: 40px
      margin-top: 0
      text-indent: 110%
      overflow: hidden
      background: none
      border: none
      background: image-url('arrows/green-prev-lite.png') center center no-repeat

      &.right
        background: image-url('arrows/green-next-lite.png') center center no-repeat
        left: auto
        right: 15px          
