@import "lightbox"


.collapsible.categories
  .locale-title
    clear: both
    overflow: hidden
    background: rgba(#3FA9C7, 0.2)
    height: 48px
    line-height: 48px
    text-transform: uppercase
    letter-spacing: 1px  
    margin-bottom: -1px //to "eat" border
    
    .left, .right
      color: #999
      img
        opacity: 0.2
    .left
      float: left
      padding-left: 8px
      font-size: 16px
    .right
      float: right
      padding-right: 37px
      background: url('arrows/blue-link.png') 107px center no-repeat
      width: 100px
      text-align: right

  .category-list
    margin-top: 12px
    font-size: 16px
    li
      border-bottom: 1px solid #ccc
      line-height: 30px
      padding: 0 8px
      a
        color: #999
        display: block
      &:last-child
        border: 0
      &.active
        background: #fff  

  &.active .locale-title, &.open .locale-title, .locale-title:hover
    background: #fff
    border: 1px solid #3FA9C7
    border-width: 1px 0
    .left, .right
      img
        opacity: 1


  &.active .locale-title .left, .locale-title .left:hover
    color: #3FA9C7

  &.open .locale-title .right, .locale-title .right:hover
    background-image: url('arrows/blue-link-open.png')

  &.active .category-list li a
    color: #3FA9C7
  


    
nav.locales
  font-family: LektonRegular
  font-size: 15px
  line-height: 21px
  margin-bottom: 85px //in case there are few courses
  h4 
    line-height: 56px
    text-transform: uppercase
    letter-spacing: 1px  
    .all-courses
      font-size: 16px
      display: block
      line-height: 45px
      background: #000
      color: #fff
      border: 2px solid #3FA9C7
      padding-left: 6px

.courses-title
  background: #3FA9C7
  margin-bottom: 85px
  img
    margin: 26px 0 0 13px
  h2
    margin-top: 44px
    color: #fff
    font-family: LektonRegular
    font-size: 21px
    line-height: 21px
    text-transform: uppercase
    letter-spacing: 1px  
  hr
    margin: 14px 0 8px 0
    border: 1px solid #fff
    height: 0
    
article.course
  margin-bottom: 42px
  .span1
    text-align: right
  h3.category, h2.title, .course-body,  .pdf-list
    margin-bottom: 26px
  h3.category, h2.title
    line-height: 25px
    font-family: LektonBold
    font-size: 21px
    margin-bottom: 26px
    letter-spacing: 1px  
    
  h3.category a
    color: #3FA9C7
  h2.title a
    color: #4D4D4D
    text-transform: uppercase
  .course-body * //markdown
    line-height: 22px
    font-family: BuenardRegular
    font-size: 18px
    color: #666
  .course-tabs
    list-style: none
    margin: 0 0 12px
    padding: 0
    li 
      margin-bottom: 6px
      a
        font-size: 15px
        color: #3FA9C7
      
    li.active 
      a
        display: block
        background: #3FA9C7
        height: 20px
        line-height: 20px
        color: #fff
        text-transform: uppercase
        font-family: LektonRegular
        font-size: 12px
        //letter-spacing: 1px  
        padding-right: 8px
        &:before
          //content: '\00B7'  //prepend middle dot
  .tab-content .tab-pane *
    line-height: 22px
    color: #3FA9C7
    font-family: LektonRegular
    font-size: 13px
  
body.capacitacion
  #content
    background: url('white-stars.png'), url('grey-stars.png')
    background-color: #EDECED
    border-top: 3px solid #fff




#content
  margin-top: 87px


//todo: move to home

.scrollblock
  position: relative
  width: 100%

#console
  position: fixed
  left: 15px
  width: 500px
  font-size: 14px
  font-style: italic
  background-color: #69697A
  text-align: left
  padding: 3px 10px
  border-radius: 0 0 10px 10px
  z-index: 9999
  opacity: .8


#space
  background: #000 url('home/space/bg.png') center center
  overflow: hidden
  .scrollblock
    height: 1929px
    img
      position: absolute


#space-s1
  top: 902px
  left: -155px

#space-o1, #space-o1-s
  left: 30px
  top: 604px

#space-o2, #space-o2-s
  right: 42px
  top: 394px  

#space-o3, #space-o3-s
  left: 215px
  top: 571px

#space-t1, #space-t1-s
  right: 334px
  top: 121px

#space-t2-s
  right: -78px
  top: 1313px


#space-tb1,#space-tb2,#space-tb3
  position: absolute
  font-family: BuenardRegular

#space-tb1
  left: 112px
  top: 299px
  h3
    border-bottom: 4px solid #fff
    color: #fff
    width: 537px
    line-height: 45px
    margin: 0
    font-size: 29px
    text-transform: uppercase
    letter-spacing: 4px
  h4
    color: #fff
    margin-top: 20px
    font-size: 30px    
    margin-left: 110px
    &.l1
      margin-top: 25px
      margin-left: 193px

#space-tb2
  right: 76px
  top: 703px
  width: 288px
  border: 1px solid #fff
  background: #000
  p
    color: #fff
    line-height: 17px
    margin: 26px 33px
    font-size: 15px
    letter-spacing: -1px
    text-align: justify

#space-tb3
  left: 222px
  top: 1342px
  h3
    color: #fff
    line-height: 45px
    margin: 0
    font-size: 52px
    letter-spacing: 2px
  p
    color: #fff
    margin-top: 64px
    font-size: 23px
    margin-left: 331px
    font-family: BuenardRegular


#eye
  background: #000
  overflow: hidden
  .scrollblock
    height: 1320px
    img
      position: absolute

#eye-eye
  left: 211px
  top: 325px
    
#eye-tb1
  color: #fff
  position: absolute
  left: 224px
  top: 473px
  width: 560px
  h3
    font-size: 55px
    font-family: BuenardRegular
    line-height: 70px
  h4
    margin-top: 60px
    font-size: 23px
    font-family: BuenardRegular
    line-height: 23px
    &.last
      margin-top: 39px
  h5
    font-size: 36px
    font-family: LektonItalic
    line-height: 48px
    letter-spacing: 1px
    margin-top: 51px
    &.last
      margin-top: 38px


#building
  background: #000
  overflow: hidden
  color: #fff
  .scrollblock
    height: 1320px
    img
      position: absolute


#building-tb1, #building-tb2, #building-tb3, #building-tb4
  position: absolute
  left: 224px

@for $i from 1 through 7
  #building-b#{$i} 
    background: url('home/building/b#{$i}.png') top center repeat-y
    width: image-width('home/building/b#{$i}.png')
    position: absolute
    height: 1000px

#building-b1
  left: 0px
  top: 980px
#building-b2
  left: 679px
  top: 988px
#building-b3
  left: 224px
  top: 224px
#building-b4
  left: 224px
  top: 224px
#building-b5
  left: 224px
  top: 224px
#building-b6
  left: 224px
  top: 224px
#building-b7
  left: 632px
  top: 1100px

#building-tb1
  top: 147px
  h3
    font-size: 55px
    line-height: 70px
    font-family: BuenardRegular
#building-tb2
  top: 692px
  h3
    font-size: 55px
    line-height: 55px
    font-family: BuenardRegular
  h5
    font-size: 23px
    font-family: BuenardRegular
    line-height: 30px
    margin-top: 28px
#building-tb3
  top: 972px
  h3
    line-height: 56px
    font-size: 56px
    font-family: LektonRegular
  h4
    font-size: 37px
    font-family: LektonRegular
    line-height: 43px
    margin-bottom: 56px
    width: 490px    

