body *
  //fix firefox undesired stroke
  font-weight: normal !important

body.ie7.home
  overflow: hidden

        
.post-edit-link
  color: red !important
body.bitacora .post-edit-link
  color: white !important  
.book-edit-link
  color: #ddd !important
.course-edit-link
  color: red !important


.collapsible.sidebar
  .collapse
    color: #999
    margin-top: 8px
    hr
      height: 0
      border-bottom: 1px solid #666
      margin: 17px 0
    a, p
      font-family: LektonRegular
      font-size: 13px
    a
      line-height: 30px
      color: #666
    p
      margin: 0
      color: #999
  
