body *
  font-weight: normal !important  
  
  
#building
  background: #000
  overflow: hidden
  color: #fff
  .scrollblock
    height: 1320px
    img
      position: absolute


#building-tb1, #building-tb2, #building-tb3, #building-tb4
  position: absolute
  left: 224px

@for $i from 1 through 7
  #building-b#{$i} 
    background: url('home/building/b#{$i}.png') top center repeat-y
    width: image-width('home/building/b#{$i}.png')
    position: absolute
    height: 1000px

#building-b1
  left: 0px
  top: 980px
#building-b2
  left: 679px
  top: 988px
#building-b3
  left: 224px
  top: 224px
#building-b4
  left: 224px
  top: 224px
#building-b5
  left: 224px
  top: 224px
#building-b6
  left: 224px
  top: 224px
#building-b7
  left: 632px
  top: 1100px

#building-tb1
  top: 147px
  h3
    font-size: 55px
    line-height: 70px
    font-family: BuenardRegular
#building-tb2
  top: 692px
  h3
    font-size: 55px
    line-height: 55px
    font-family: BuenardRegular
  h5
    font-size: 23px
    font-family: BuenardRegular
    line-height: 30px
    margin-top: 28px
#building-tb3
  top: 972px
  h3
    line-height: 56px
    font-size: 56px
    font-family: LektonRegular
  h4
    font-size: 37px
    font-family: LektonRegular
    line-height: 43px
    margin-bottom: 56px
    width: 490px    

