@import "tb"
@import "partials/fonts"
@import "partials/header"
@import "partials/footer"
@import "partials/agenda"
@import "partials/bitacora"
@import "partials/capacitacion"
@import "partials/home"
@import "partials/obra"
@import "partials/ticho"
@import "partials/trayectoria"
@import "devise"
@import "themize"

//@import "compass/layout/grid-background"

html
  height: 100%

body 
  background: #050504
  overflow-y: scroll  
  a:visited, a:active
    color: inherit

  #content .container
    //+grid-background(9, 92, 20)

