@import "compass"

//todo: make sprites of colored stuff
@import "footer-logo/*.png"
$footer-logo-sprite-dimensions: true


=themize_layout($color, $name)
  header
    background-color: $color //rgba($color,0.2)
    a
      +link-colors(#fff,$color,$color)
      &.active
        color: $color
  footer
    .links h5, .blogs h5, a:hover
      color: $color
    .share-links ul li a:hover
      +box-shadow($color 0 0 20px)
      +border-radius(4px)
    .logo
      +footer-logo-sprite($name)


=themize($color, $name)
  .pdf-list li a
    background: url('icons/#{$name}-pdf.png') 0px center no-repeat
    .title
      border: 1px solid $color


  .pagination
    border-top: 3px solid $color
    .current, a:hover
      color: $color
    .prev a
      background: url('arrows/#{$name}-prev.png') left center no-repeat
    .next a
      background: url('arrows/#{$name}-next.png') right center no-repeat

  .highlight
    .wrapper h3
      color: $color
    .handler a
      background: url('arrows/#{$name}-down.png') center center no-repeat
      width: image-width('arrows/#{$name}-down.png')
      height: image-height('arrows/#{$name}-down.png')
    &.open .handler a
      background-image: url('arrows/#{$name}-up.png')

  .arrow-link
    background: $color url('arrows/white-link.png') 10px center no-repeat
  .collapsible.open .arrow-link, .arrow-link:hover
    background-image: url('arrows/white-link-open.png')

  //inverted style
  .arrow-link.inverted
    border: 1px solid $color
    background: #fff url('arrows/#{$name}-link.png') 10px center no-repeat
  .collapsible.open .arrow-link.inverted, .arrow-link.inverted:hover
    background-image: url('arrows/#{$name}-link-open.png')


  article
    time
      color: $color
    &:last-child, &.last
      border-color: transparent
      margin-bottom: 73px

  //book related
  .book-title
    background: $color

  .book .content 
    .specification, .body h4
      color: $color


  .book-list li.book
    &.open .book-link
      background: url('arrows/#{$name}-down.png') 18px center no-repeat
    h3
      background: rgba($color, 0.2)
    .book-link
      background: url('arrows/#{$name}-next.png') 18px center no-repeat
      &:hover
        color: $color
           


$green: #0f0
$orange: #FF931E
$yellow: #ff0
$purple: #A2299C
$red: #DE0000
$blue: #3FA9C7
$dark_blue: #0000ff

body.trayectoria
  +themize_layout($green,'green')
  +themize($green,'green')
  .pagination
    height: 130px
    a, span
      line-height: 16px
    .left a, .right a
      line-height: 130px
    .years
      border-bottom: 1px dashed #BEBEBE
      margin-top: 31px
      height: 34px
      margin-bottom: 18px

  .highlight
    border-top: 3px solid $green
    .wrapper
      background: #000
      h2, a, p
        color: #B3B3B3
    //todo: fix this strange behaviour... do it through js with animations---
    .wrapper
      height: 85px
      *
        visibility: hidden 
      h2
        visibility: visible
        margin-top: 30px
    &.open
      .wrapper
        height: auto
        *
          visibility: visible
        h2
          margin-top: 0

      

body.home
  +themize_layout($dark_blue,'dark_blue')
  header
    border-bottom: 3px solid $dark_blue
  #content
    margin-top: 90px    
  footer
    border-top: 3px solid $dark_blue
    
body.obra
  +themize_layout($red,'red')
  +themize($red,'red')

body.agenda
  +themize_layout($purple,'purple')
  +themize($purple,'purple')

  article
    &:first-child, &.first
      margin-top: 85px


body.bitacora
  +themize_layout($yellow,'yellow')
  +themize($yellow,'yellow')

  .pagination
    height: 65px
    a, span
      line-height: 65px

  .highlight
    border-top: 3px solid #EDECED
    border-bottom: 3px solid #EDECED
    .wrapper
      background: $yellow
      h2 
        color: #666
      p
        color: #000

  article
    border-color: $yellow
    h2
      color: $yellow
    .post-body
      color: #ccc
      

body.ticho
  +themize_layout($orange,'orange')
  +themize($orange,'orange')

body.capacitacion
  +themize_layout($blue,'blue')
  +themize($blue,'blue')




.collapsible.sidebar
  .collapse
    color: #999
    ul
      margin: 8px 0 0
      li
        border-bottom: 1px solid #666
        margin-bottom: 17px
    a, p
      font-family: LektonRegular
      font-size: 13px
    a
      display: block
      margin-bottom: 14px
      color: #666
    p
      margin-bottom: 17px
      color: #999

.photo-list
  list-style: none
  margin: 6px 0 -10px -10px
  overflow: hidden
  li
    float: left
    margin: 0 0 10px 10px 
    a
      display: block
      img
        display: block


.pdf-list
  list-style: none
  margin: 0 0 -6px 0
  li a
    margin-bottom: 6px
    display: block
    padding-left: 35px
    position: relative    
    font-family: LektonRegular
    font-size: 13px
    .title
      background: #fff
      color: #4D4D4D
      height: 32px
      line-height: 32px
      padding-left: 12px
      display: block
    .size
      color: #999999
      position: absolute
      bottom: 5px
      right: 5px

.arrow-link
  display: block
  font-family: LektonRegular
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 1px  
  height: 20px
  line-height: 20px
  margin-bottom: 6px
  padding-left: 28px
  color: #fff !important
  &:before
    content: '\00B7'  //prepend middle dot


//inverted style
.arrow-link.inverted
  color: #666 !important
  height: 18px
  line-height: 18px
  &:before
    content: ''  //no middle dot
      
.collapsible      
  &:last-child .collapse, &.last .collapse
    margin-bottom: 6px
  &.open
    .collapse
      height: auto
      margin-bottom: 12px
    &:last-child .collapse, &.last .collapse
      margin-bottom: 12px



.pagination
  background: #fff
  font-family: LektonBold
  font-size: 16px
  text-transform: uppercase
  letter-spacing: 1px
  margin: 0
  a, span
    color: #4D4D4D
    float: none
    padding: 0
    border: 0
    display: inline-block
    white-space: nowrap
    &:hover
      background: none
  .left,.right
    min-height: 65px
  
  .left
    text-align: left
    a
      padding-left: 40px
  .center
    text-align: center
  .right
    text-align: right
    a
      padding-right: 40px




  
.highlight
  .wrapper
    height: 0
    overflow: hidden
    h2
      font-size: 21px
    h3
      font-size: 16px
    a
      font-family: BuenardRegular
      font-size: 13px
    h2,h3
      font-family: LektonBold
      line-height: 21px
      text-transform: uppercase
      letter-spacing: 1px  
      margin-bottom: 23px
    p
      font-family: BuenardRegular
      font-size: 18px
      line-height: 26px
      margin: 0 0 42px
  .handler
    height: 17px
    background: #3C3C3B
    text-align: center
    cursor: pointer
    a
      display: inline-block
  &.open 
    .wrapper
      height: auto
      padding: 80px 0 0



article
  margin-top: 42px
  border-bottom: 12px solid #fff
  h2, time
    font-family: LektonBold
    letter-spacing: 1px  
    line-height: 24px
  time
    font-size: 20px
  h2
    color: #4D4D4D
    font-size: 21px
    text-transform: uppercase
    margin-bottom: 24px
    a, a:visited, a:active
      color: inherit
  .post-body
    font-family: BuenardRegular
    font-size: 18px
    margin: 0 0 26px
    color: #666
    line-height: 22px
    p
      font-family: inherit
      font-size: inherit
      line-height: inherit   


//book related
.book-title
  overflow: hidden
  .span3
    margin-top: 8px
    text-align: center
  h2
    margin-top: 17px
    color: #fff
    font-size: 32px
    text-transform: uppercase
    line-height: 40px
  hr
    margin: 5px 0 17px 0
    border: 1px solid #fff
    width: 2000px
    height: 0



.book
  .image
    padding: 12px 0
    text-align: right
  .content
    padding: 50px 0
    font-size: 18px
    font-family: BuenardRegular
    line-height: 22px
    p
      font: inherit
    .specification
      margin-bottom: 50px
    .body
      color: #666
      margin-bottom: 44px
      h4
        font-family: LektonRegular
        font-size: 15px
        text-transform: uppercase
        letter-spacing: 1px  
        line-height: 18px
        margin: 50px 0
    .links          
      .arrow-link
        color: #1D1D1B
  .sidebar
    padding: 50px 0


.book-list
  margin: 85px 0
  list-style: none
  background: url('stars.jpg')
  li.book
    .collapse
      background: #F7F7EB
    &.open .collapse
      height: auto

    h3
      height: 100px
      position: relative
      font-size: 32px
      padding: 0
      margin: 0
      text-transform: uppercase
      white-space: nowrap
      border-bottom: 6px solid #F7F7EB
      .book-link
        color: #fff
        line-height: 100px
        display: block
        padding-left: 62px




body.obra.show, body.ticho.show
  #content
    border-top: none
    .book
      background: #fff
      padding-bottom: 85px
      .pdf-list
        margin-top: 12px
      
body.obra
  #content
    background: url('white-stars.png'), url('grey-stars.png')
    background-color: #EDECED
    border-top: 3px solid $red
    border-bottom: 3px solid $red


body.ticho
  #content
    background: url('white-stars.png'), url('grey-stars.png')
    background-color: #EDECED
    border-top: 3px solid $orange
    border-bottom: 3px solid $orange

  .highlight
    .wrapper
      background: #000
      .span2
        margin-top: 48px
      h2, a, p
        color: #B3B3B3

  .book
    h3
      .pdf-link
        position: absolute
        +replace-text('icons/white-pdf-big.png')
        top: 0
        right: 0
        height: 100px
        width: 70px
        display: block
        &:hover
          background-image: url('icons/orange-pdf-big.png')


