@import "compass"

//todo: make sprites of colored stuff
$footer_logos: sprite-map("footer-logo/*.png")
$header_bgs: sprite-map("header-bg/*.png")


=themize_layout($color, $name, $color_name, $border_color)
  a
    +transition(color 0.5s ease-in-out)    
    &:hover, &.active
      color: $color
      text-decoration: none



  header
    background-color: $color //rgba($color,0.2)
    border-bottom: 3px solid $border_color
    background: #000 sprite($header_bgs, $color_name) no-repeat 
    height: image-height(sprite-file($header_bgs, $color_name))
    background-position-x: center
    a
      color: #fff


  #content
    margin-top: image-height(sprite-file($header_bgs, $color_name)) + 3
  background-color: #EDECED
  #white-stars
    background: image-url('stars/white.png') repeat-y center top
  #grey-stars
    background: image-url('stars/grey.png') repeat-y center top
  
  // commented because it is used on links  
  //@if $name == home
  //  #white-stars, #grey-stars
  //   display: none
  

  @if $name == bitacora
    background-color: #000
    #white-stars
      background-image: image-url('stars/white-bitacora.png')
    #grey-stars
      background-image: image-url('stars/grey-bitacora.png')


  //common for posts
  @if $name == trayectoria or $name == bitacora or $name == agenda
    .pagination
      border-top: 3px solid $color
  @else
    footer
      border-top: 3px solid $color
  
  //trayectoria pagination has 2 rows
  @if $name == trayectoria
    .pagination
      height: 130px
      .center
        a, span
          line-height: 16px
      .next_page,.prev_page
        height: 130px
        a
          line-height: 130px
  @else
    .pagination
      height: 65px
      a, span
        line-height: 65px
      .next_page,.prev_page
        height: 65px



      
  footer
    .links h5, .blogs h5
      color: $color
    .share-links ul li a:hover
      +box-shadow($color 0 0 20px)
      +border-radius(4px)
    .logo
      background: sprite($footer_logos, $color_name) no-repeat
      +sprite-dimensions($footer_logos, $color_name)



=themize($color, $name, $color_name)
  .pdf-list li a
    background: image-url('icons/#{$color_name}-pdf.png') 0px center no-repeat
    .title
      border: 1px solid $color


  .pagination
    .current, a:hover
      color: $color
    .prev_page a
      background: image-url('arrows/#{$color_name}-prev.png') left center no-repeat
    .next_page a
      background: image-url('arrows/#{$color_name}-next.png') right center no-repeat

  .highlight
    .wrapper h3
      color: $color
    .handler a
      background: image-url('arrows/#{$color_name}-down.png') center center no-repeat
      width: image-width('arrows/#{$color_name}-down.png')
      height: image-height('arrows/#{$color_name}-down.png')
    &.open .handler a
      background-image: image-url('arrows/#{$color_name}-up.png')

  .arrow-link
    background: $color image-url('arrows/white-link.png') 10px center no-repeat
  .collapsible.open .arrow-link, .arrow-link:hover
    background-image: image-url('arrows/white-link-open.png')

  //inverted style
  .arrow-link.inverted
    border: 1px solid $color
    background: #fff image-url('arrows/#{$color_name}-link.png') 10px center no-repeat
  .arrow-link.plain
    background: transparent image-url('arrows/#{$color_name}-link.png') 10px center no-repeat
  .collapsible.open .arrow-link.inverted, .arrow-link.inverted:hover
    background-image: image-url('arrows/#{$color_name}-link-open.png')


  article.post
    time
      color: $color

  //book related
  .book-title
    background: $color

  .book
    .image-wrapper
      background: $color
    .content 
      .specification, .body h4
        color: $color

  .book-list
    background: #000 image-url('stars/#{$color_name}.jpg')
    li.book
      &.open .book-link
        background: image-url('arrows/#{$color_name}-down.png') 18px center no-repeat
      .book-link
        background: image-url('arrows/#{$color_name}-next.png') 18px center no-repeat
        &:hover
          color: $color
           

