%footer
  .container
    .row
      .span1
        %a.logo(href="#")
      .span8
        .row.share-links
          .span3.offset5
            %ul.span-hack
              %li
                %a.social-youtube(href="#")
              %li
                %a.social-vimeo(href="#")
              %li
                %a.social-flickr(href="#")
              %li
                %a.social-facebook(href="#")
              %li
                %a.social-plus(href="#")
              %li
                %a.social-delicious(href="#")
            %a.span-hack.social-rss(href="#") RSS
        .row
          .span8.divider
        .row
          .span2.footer-contact
            %h5
              %a(href="#") Guillermo Lema
            %h6
              %a(href="#") contacto
          .span3.footer-nav
            .row
              .span1
                %ul
                  %li
                    %a(href="#") Trayectoria
                  %li
                    %a(href="#") Obra Escrita
                  %li
                    %a(href="#") Agenda
              .span2
                %ul
                  %li
                    %a(href="#") Bitacora
                  %li
                    %a(href="#") Ticho Ediciones
                  %li
                    %a(href="#") Capacitación          
          .span2.links
            %h5 links
            .row
              .span1
                %ul
                  %li
                    %a(href="#") ubu.com
                  %li
                    %a(href="#") absda.com
                  %li
                    %a(href="#") ubu.com
                  %li
                    %a(href="#") absda.com
              .span1
                %ul
                  %li
                    %a(href="#") ubu.com
                  %li
                    %a(href="#") absda.com
                  %li
                    %a(href="#") ubu.com
          .span1.blogs
            %h5 blogs
            %ul
              %li
                %a(href="#") crieta
              %li
                %a(href="#") imago mundi
              %li
                %a(href="#") teatro lema
    .row.credits
      .span3.offset3
        %a(href="#") fotografía GABRIEL MASSERA
      .span1
        %a.design(href="#") diseño
