%header
  .container
    .row
      .span2
        %a.brand(href="#") Guillermo <br/>Lema
      .span7
        %nav
          %ul
            %li.first
              %a(href="#") Trayectoria
            %li
              %a(href="#") Obra Escrita
            %li
              %a(href="#") Agenda
            %li
              %a.active(href="#") Bitacora
            %li
              %a(href="#") Ticho Ediciones
            %li.last
              %a(href="#") Capacitación

