#lightbox{:style => "display: none; "}
  .container
    .lb-container.row
      .span1
        %a.lb-prev(href="#")
      .span7
        %a.lb-close(href="#")
        %img.lb-image
        .lb-loader
      .span1
        %a.lb-next(href="#")

